@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');




body::-webkit-scrollbar {
    width: 0.1em;
    background: rgba(255, 255, 255, 0);
  }
  body::-webkit-scrollbar-thumb {
    background: #ff535300;
    height:30px;
  }
  
  body::-webkit-scrollbar-track-piece
  {
     display:none;
  }
  body{
    margin: 0 0 0 0;
  }


.main-theme-black
{
    color:white;
    background-color: black;
}
.header-picture
{
    background-image: url(curcles.svg);
    background-size:cover;
}

.header-text
{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-left: 35px;   
    
}

header
{
    display: block;
    text-align: right;
    margin-right: 63px;
    padding-top: 30px;
}
header div
{
    display: inline-block;
    margin-left: 35px;
}
/* переделать */
.main-button-for-reg
{
    text-align: center;
    display: inline-block;
    position: relative;
    top: 12px;
    width: 115.28px;
    height: 48px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.7);
    border-radius: 47px;
}
.main-button-for-reg p
{ 
    position: relative;
    bottom: 14px;
    right: 16px;
}
/* ------------- */


.main-logo-img
{
    display: flex;
    justify-content: center;
   
}

.header-discription
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 876px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    
    background: linear-gradient(181.02deg, rgba(255, 255, 255, 0.98) 0.88%, rgba(255, 255, 255, 0.416) 53.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media  (orientation: portrait) and (min-width: 600px) {
    .header-discription
    {
        display: none;
    }
  }

.header-svipe
{
    display: block;
    padding-top: 7%;
    text-align: center;
    padding-bottom: 10%;
}
.about-project-block
{
    width: auto;
    height: 700px;
    background-image: url(12.png);
    background-attachment: fixed; 
    background-size: cover;
}

.header-main-logo
{
    display: block;
    margin-top: 40px;
    justify-content: center;
}

.about-project-discription-line
{
    position: relative;
    background-image: url(1.png);
    background-size:cover;
    top: 120px;
    height: 350px;
}

.discription-text-block
{
    display: block;
    margin-top: 107px;
    background-color: black;
    height: 550px;
    margin-left: 100px;
}

.discription-text
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    width: 1062px;
    background: linear-gradient(181.02deg, rgba(255, 255, 255, 0.98) 0.88%, rgba(255, 255, 255, 0.787) 53.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.discription-line
{
    display: block;
    width: 777px;
    height: 0px;
    margin-top: 40px;
    border: 2px solid rgba(255, 112, 163, 0.5);
    box-shadow: 0px 0px 20px #FF166A;
}

.discription-cards
{
    display: flex;
   
}

.discription-cards-item
{
    display: block;
    width: 370px;
    margin-right: auto;
}

.discription-cards-item-number
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 64px;
    display: inline-flex;
    color: #FFFFFF;
}
.discription-cards-item-called
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 24px;
    display: inline-flex;
    color: #FFFFFF;
    padding-top: 40px;
}

.discription-cards-item-text
{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: linear-gradient(181.02deg, rgba(255, 255, 255, 0.98) 0.88%, rgba(255, 255, 255, 0.908) 53.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: justify;
    color: #FFFFFF;
    margin: 0;
}

.footer
{

    height: 400px;
    background-image: url(123.png);
    background-size: cover;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.footer-text-one
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    width: 363px;
}

.footer-text-two
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    text-align: right;
    margin-left: auto;
    color: #FFFFFF;
    width: 363px;
}

.footer-text-three
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    text-align: right;
    margin-left: auto;
    color: #FFFFFF;
    width: 363px;
    padding-top: 70px;
}